* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Forum;
}

a {
    text-decoration: none;
    color: rgb(78, 107, 176);
}

body {
    background-color: aliceblue;
}

body,
main,
header,
footer {
    width: 100%;
}

/* header start */
header {
    position: fixed;
    height: 15vw; /*5vw*/
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: end; /*center*/
    box-shadow: 0 0 1vw 0;
    color: rgb(78, 107, 176);
    background-color: white;
    transition: all 0.35s ease;
    z-index: 3;
}

#number {
    position: absolute;
    right: 2vw;
    top: 2vw;
    font-size: 2vw;
    text-decoration: none;
    color: (53, 53, 164);
}

#mail {
    position: absolute;
    right: 2vw;
    top: 4.3vw;
    font-size: 1.6vw;
}

#logoBox {
    width: 35vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#logo {
    width: 28vw; /*12vw*/
    transition: all 0.35s ease;
}

nav {
    display: flex;
    align-items: center;
    width: 60vw;
    height: 4.5vw; /*100%*/
}

#r1, #r2, #r3, #r4, #m1, #m2, #m3, #m4{
    display: none;
}

nav label,
#navM label {
    width: 100%;
    height: 100%;
}

.head-buttons {
    position: relative;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    cursor: pointer;
    text-transform: uppercase;
    font-family: inter;
    transition: all 0.5s;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    background-color: white;
    color: rgb(78, 107, 176);
    border-radius: 3px;
}

.head-buttons:hover {
    color: rgb(255, 255, 255);
}

.head-buttons::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(to right, rgb(155, 195, 235), rgb(115, 115, 222));
    transition: all 0.8s;
    z-index: -1;
}

.head-buttons:hover::before {
    width: 100%;
}

.head-buttons::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: blue;
    transition: all 1s;
}

#r1:checked ~ label:nth-of-type(1) > button::after,
#r2:checked ~ label:nth-of-type(2) > button::after,
#r3:checked ~ label:nth-of-type(3) > button::after,
#r4:checked ~ label:nth-of-type(4) > button::after {
    animation-name: width;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function:ease;
}

#r1:checked ~ label:nth-of-type(1) > button:hover::before,
#r2:checked ~ label:nth-of-type(2) > button:hover::before,
#r3:checked ~ label:nth-of-type(3) > button:hover::before,
#r4:checked ~ label:nth-of-type(4) > button:hover::before {
    width: 0%;
}

#r1:checked ~ label:nth-of-type(1) > button:hover,
#r2:checked ~ label:nth-of-type(2) > button:hover,
#r3:checked ~ label:nth-of-type(3) > button:hover,
#r4:checked ~ label:nth-of-type(4) > button:hover {
    color: blue;
}
/* header end */

/* menu start */
#menuBox {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 2.7vw;
    top: 1.8vw;
}

.bar1, .bar2, .bar3 {
    width: 8vw;
    height: 0.7vw;
    background-color: rgb(89, 108, 157);
    margin: 1vw 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(45deg) translateY(2.35vw);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(-45deg) translateY(-2.35vw);
}


#menuM {
    position: absolute;
    width: 35vw;
    height: 0vw;
    right: 0;
    top: 10vw;
    overflow: hidden;
    transition: all 0.5s ease;
    background-color: aliceblue;
}

#navM {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 30vw;
    border: 1px blue solid;
    border-radius: 0 0 2px 2px;
}

#m1:checked ~ label:nth-of-type(1) > button::after,
#m2:checked ~ label:nth-of-type(2) > button::after,
#m3:checked ~ label:nth-of-type(3) > button::after,
#m4:checked ~ label:nth-of-type(4) > button::after {
    animation-name: width;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function:ease;
}

#m1:checked ~ label:nth-of-type(1) > button:hover::before,
#m2:checked ~ label:nth-of-type(2) > button:hover::before,
#m3:checked ~ label:nth-of-type(3) > button:hover::before,
#m4:checked ~ label:nth-of-type(4) > button:hover::before {
    width: 0%;
}

#m1:checked ~ label:nth-of-type(1) > button:hover,
#m2:checked ~ label:nth-of-type(2) > button:hover,
#m3:checked ~ label:nth-of-type(3) > button:hover,
#m4:checked ~ label:nth-of-type(4) > button:hover {
    color: blue;
}
/* menu end */

/* main start*/
main {
    margin-top: 15vw;
    background-color: aliceblue;
    padding: 2vw;
}

.main-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5vw;
}

.main-head img {
    width: 3vw;
    margin-right: 2vw;
    margin-top: 1vw;
    cursor: pointer;
}  

#list {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

.listBox {
    background-color: aliceblue;
    position: relative;
    width: 45vw;
    border-radius: 3px;
}

.listBox ul {
    width: 100%;
    padding: 0;
}

.listBox ul li {
    width: 100%;
    list-style-type: none;
    box-shadow: 0 0 1px 0;
    margin-bottom: 1px;
    padding: 0.4vw;
    font-size: 1.8vw;
    text-indent: 2vw;
    transition: 0.4s;
    cursor: pointer;
}

.listBox ul li a{
    width: 100%;
    transition: 0.4s;
    cursor: pointer;
}


.listBox ul li:hover {
    padding: 0.8vw 0.5vw;
    box-shadow: 0 0 4px 0;
}

.listBox ul li:hover a {
    color: blue;
    font-size: 2vw;
}

h1 {
    font-size: 2.8vw;
    font-weight: 300;
    margin-top: 0.7vw;
    margin-left: 3vw;
    font-family: Inter;
    color: rgb(18, 17, 17);
    text-shadow: 0.05em 0.04em 1px rgb(142, 141, 141);
}

.tips-wrapper {
    width: 100%;
    display: flex;
    margin: 2vw 0;
}

.TIB {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tips-img {
    width: 20vw;
}

.tips-box {
    width: 75%;
}

.tips {
    border: 1px solid black;
    background: linear-gradient(to right, rgb(155, 195, 235), rgb(115, 115, 222));
    display: inline-block;
    font-size: 1.2vw;
    cursor: pointer;
    font-family: inter;
    padding: 0.4vw;
    border-radius: 3px;
    transition: 0.4s;
    margin-bottom: 0.2vw;
    box-shadow: 0 0 1px 0;
}

.tips:hover {
    position: relative;
    background: rgb(155, 195, 235);
    font-size: 1.3vw;
    margin: -0.2vw 0 0.4vw -0.2vw;
    box-shadow: 9px 9px 2px 1px rgba(0, 0, 0, 0.6);
    z-index: 1;
}

input[type = radio] {
    display: none;
}

#t1:checked ~ label:nth-of-type(1) > span,
#t2:checked ~ label:nth-of-type(2) > span,
#t3:checked ~ label:nth-of-type(3) > span,
#t4:checked ~ label:nth-of-type(4) > span,
#t5:checked ~ label:nth-of-type(5) > span,
#t6:checked ~ label:nth-of-type(6) > span,
#t7:checked ~ label:nth-of-type(7) > span,
#t8:checked ~ label:nth-of-type(8) > span {
    position: relative;
    background: rgb(115, 115, 222);
    font-size: 1.3vw;
    margin: -0.5vw 0 0.4vw -0.5vw;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.items-wrapper {
    margin: 2vw 0;
    width: 100%;
}

.about-type-box {
    margin: 2vw 0;
    width: 70%;
    
}

.about-type-box p:first-of-type{
    font-family: inter;
    font-size: 1.8vw;
}

.bigP{
    font-family: inter;
    font-size: 1.7vw;
}

.about-type-box ul{
    padding-top: 1vw;
    padding-left: 2vw;
    font-size: 1.5vw;
}

.litP {
    font-family: Forum;
    font-size: 1.6vw;
    margin-top: 0.5vw;
}
/* main end*/





@media screen and (max-width: 700px) {
    /* header start */
header {
    height: 40vw; /*10vw*/
    box-shadow: 0 0 2vw 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: end; 
}

#number {
    font-size: 3.6vw;
}

#mail {
    top: 5.3vw;
    font-size: 3vw;
}

#logoBox {
    width: 100vw;
    height: 50%;
}

#logo {
    width: 45vw; /*25vw*/
}

nav {
    width: 95vw;
    height: 7vw; /*100%*/
}

.head-buttons {
    font-size: 2.4vw;
    border-radius: 3px;
}

.head-buttons::after {
    height: 2.5px;
}
/* header end */

/* main start*/
main {
    margin-top: 40vw;
}

.listBox {
    width: 70vw;
    border-radius: 5px;
}

.listBox ul li {
    box-shadow: 0 0 2px 0;
    margin-bottom: 2px;
    padding: 1vw;
    font-size: 3.2vw;
    text-indent: 2vw;
}

.listBox ul li:hover {
    padding: 2vw 1vw;
    box-shadow: 0 0 4px 0;
}

.listBox ul li:hover a {
    font-size: 3.4vw;
}

.main-head {
    margin-bottom: 1vw;
}

.main-head img {
    width: 5vw;
    margin-right: 2vw;
    margin-top: 1vw;
}

h1 {
    font-size: 4.3vw;
    text-shadow: 0.07em 0.07em 1px rgb(142, 141, 141);
}

.tips-wrapper {
    margin: 1vw 0;
}

.TIB {
    display: none;
}

.tips-box {
    width: 90%;
}

.tips {
    border: 1px solid black;
    font-size: 2.4vw;
    padding: 0.6vw;
    border-radius: 3px;
    margin-bottom: 0.5vw;
    box-shadow: 0 0 1px 0;
}

.tips:hover {
    font-size: 2.6vw;
    margin: -0.3vw 0 0.6vw -0.3vw;
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.6);
}

#t1:checked ~ label:nth-of-type(1) > span,
#t2:checked ~ label:nth-of-type(2) > span,
#t3:checked ~ label:nth-of-type(3) > span,
#t4:checked ~ label:nth-of-type(4) > span,
#t5:checked ~ label:nth-of-type(5) > span,
#t6:checked ~ label:nth-of-type(6) > span,
#t7:checked ~ label:nth-of-type(7) > span,
#t8:checked ~ label:nth-of-type(8) > span {
    font-size: 2.7vw;
    margin: -0.5vw 0 0.6vw -0.5vw;
    box-shadow: 9px 9px 2px 1px rgba(0, 0, 0, 0.5);
}

.about-type-box {
    margin: 2vw 0;
    width: 100%;
    
}

.about-type-box p:first-of-type{
    font-size: 2.8vw;
}

.bigP{
    font-size: 2.9vw;
}

.about-type-box ul{
    padding-top: 1vw;
    padding-left: 2vw;
    font-size: 2.6vw;
}

.litP {
    font-size: 2.8vw;
    margin-top: 0.5vw;
}
/* main end*/
}



@keyframes width {
    0% {width:0;}
    100% {width: 100%;}
}


@font-face {
    font-family: "Forum"; 
    src: url("font/Forum/Forum-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "Inter"; 
    src: url("font/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 