.sertif-wrapper{
    width: 100%;
    display: flex;
    margin-top: 3.3vw;
}

.sertif-block1{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    align-items: center;
}

.serf-img {
    width: 80%;
    box-shadow: 4px 5px 10px #268391;
}

.sertif-block2{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serf-text {
    width: 80%;
    text-align: justify;
    font-size: 2vw;
    margin-top: 2vw;
}

.aboutH2 {
    font-size: 2.65vw; 
    font-weight: 300;
    margin-bottom: 60px;
    font-family: Inter;
    color: rgb(18, 17, 17);
    text-shadow: 0.05em 0.04em 1px rgb(142, 141, 141);
    text-align: center;
}

.label-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3vw;
    background-color: #ffffff;
    box-shadow: 0 0 12px #268391;
    border-radius: 7px;
    padding: 2vw 1vw;
}

.label-wrapper div {
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-wrapper div img {
    width: 100%;
}


@media screen and (max-width: 700px) {
.sertif-wrapper{
    margin-top: 3.3vw;
}

.sertif-block1{
    width: 30%;
    gap: 5vw;
}

.serf-img {
    width: 100%;
}

.sertif-block2{
    width: 70%;
}

.serf-text {
    width: 85%;
    margin-top: 0;
    font-size: 2.6vw;
}

.aboutH2 {
    font-size: 3.8vw;
    text-shadow: 0.07em 0.07em 1px rgb(142, 141, 141);
}
}