@font-face {
    font-family: "Forum"; 
    src: url("font/Forum/Forum-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "Inter"; 
    src: url("font/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-wrapper {
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1.5vw;
    margin: 0 0.5vw;
    border: 1.5px solid rgb(78, 107, 176);
    border-radius: 1.5vw;
    background-color: rgba(99, 129, 199, 0.1);
    box-shadow: 0 0 15px 1.5px rgba(78, 107, 176, 0.5);
    transition: 0.2s;
    margin-bottom: 3.5vw;
}

.news-h2 {
    font-size: 2.8vw;
    margin-bottom: 1.5vw;
}

.date {
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
}

.hide-block {
    width: 60vw;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 6.8vw;
    transition: 0.9s;
}

.hide-text {
    font-size: 1.7vw;
    line-height: 1.74vw;
    text-align: justify;
    padding-bottom: 1.7vw;
}

.hide-block-button {
    background-color: rgba(78, 107, 176, 0.12);
    border: 1.5px solid rgb(87, 116, 183);
    font-size: 1.55vw;
    border-radius: 1vw;
    padding: 0.5vw;
    margin-bottom: 1vw;
    margin-top: 0.5vw;
    box-shadow: 0 0 6px rgb(78, 107, 176);
    transition: 0.5s;
    color: black;
    cursor: pointer;
}

.hide-block-button:hover {
    background-color: rgba(38, 88, 145, 0.15);
    border: 1.5px solid #268391;
    box-shadow: 0 0 8px #268391;
}

.showMoreButton {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8vw;
    background-color: white;
    padding: 0 1vw;
    display: none;
}

.news-images-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1vw 1vw;
}

.news-images-wrapperOne {
    height: 30vw;
}

.news-images-wrapperTwo {
    height: 35vw;
}

.news-images-box {
    border-radius: 0.5vw;
    border: 2.5px solid black;
    overflow: hidden;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor:zoom-in;
}

.news-images-boxOne {
    height: 14.5vw;
    width: 14.5vw;
}

.news-images-boxTwo {
    height: 11vw;
    width: 11vw;
}

.firstImgOne {
    width: 30vw;
    height: 30vw;
}

.firstImgTwo {
    width: 35vw;
    height: 35vw;
}


#showImageBoxesWrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 2;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vw;
    gap: 6dvh;
}

.showImageBox {
    display: none;
    align-items: center;
    justify-content: center;
}

.image-top-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-top-block img:nth-child(1) {
    width: 5vw;
    margin-right: 2vw;
    border: 3px solid white;
    border-radius: 5vw;
    box-shadow: 0 0 10px white;
    transition: 0.5s;
    cursor: pointer;
}

.image-top-block img:nth-child(3) {
    width: 5vw;
    border: 3px solid white;
    border-radius: 5vw;
    margin-left: 2vw;
    box-shadow: 0 0 10px white;
    transition: 0.5s;
    cursor: pointer;
}

.image-top-block img:nth-child(1):hover, 
.image-top-block img:nth-child(3):hover {
    box-shadow: 0 0 25px 10px rgb(78, 107, 176);
}

.image-top-block img:nth-child(2) {
    height: 70dvh;
    max-width: 80vw;
    box-shadow: 0 0 10px 1.5px white;
    border-radius: 5px;
}

.image-bottom-block {
    display: flex;
    gap: 2vw;
}

.image-bottom-block-box {
    border-radius: 0.5vw;
    border: 1.5px solid rgb(78, 107, 176);
    height: 11dvh;
    overflow: hidden;
    transition: 0.5s;
}


.image-bottom-block-box img {
    height: 11dvh;
    filter: grayscale(1);
    transition: 0.5s;
    cursor: pointer;
}

.image-bottom-block-box:hover {
    box-shadow: 0 0 10px #268391;
    border: 1.5px solid #268391;
}

.image-bottom-block-box img:hover {
    filter: grayscale(0);
}

.image-bar {
    gap: 0;
}







@media screen and (max-width: 700px) {
    .news-wrapper {
        width: 90vw;
        padding: 2.5vw;
        padding-top: 1.5vw;
        border-radius: 1.3vw;
        margin-bottom: 8vw;
        box-shadow: 0 0 5px rgb(78, 107, 176);
        border: 1px solid rgb(78, 107, 176);
    }

    .news-wrapper:hover {
        box-shadow: 0 0 7.5px rgb(78, 107, 176);
    }
    
    .news-h2 {
        font-size: 4.65vw;
        margin-bottom: 1.5vw;
    }
    
    .date {
        font-size: 2.9vw;
        margin-bottom: 2vw;
    }
    
    .hide-block {
        width: 85vw;
        height: 12vw;
    }
    
    .hide-text {
        font-size: 3.1vw;
        line-height: 3.1vw;
        padding-bottom: 2.8vw;
    }
    
    .hide-block-button {
        border: 1px solid rgb(78, 107, 176);
        box-shadow: 0 0 5px rgb(78, 107, 176);
        font-size: 2.95vw;
        border-radius: 1.3vw;
        padding: 1vw 1.5vw;
        margin-bottom: 2vw;
        margin-top: 2vw;
    }

    .hide-block-button:hover {
        border: 1px solid #268391;
        box-shadow: 0 0 4px #268391;
    }

    .news-images-wrapper {
        height: 42vw;
    }
    
    .news-images-box {
        border-radius: 1vw;
        border: 2px solid black;
        height: 20.5vw;
        width: 20.5vw;
    }
    
    .news-images-box:nth-child(1){
        width: 42vw;
        height: 42vw;
    }



    #showImageBoxesWrapper {
        height: 100dvh;
        justify-content: stretch;
        padding: 15vw 0 5vw 0;
    }

    .image-top-block {
        flex-grow: 3;
    }
    
    .image-top-block img:nth-child(1) {
        display: none;
    }
    
    .image-top-block img:nth-child(3) {
        display: none;
    }
    
    .image-top-block img:nth-child(2) {
        height: auto;
        width: 85vw;
        max-height: 70dvh;
        border: 1.5px solid rgb(78, 107, 176);
        box-shadow: 0 0 4px 1.5px rgb(78, 107, 176);
    }
    
    .image-bottom-block {
        gap: 1.2vw;
        align-items: center;
    }
    
    .image-bottom-block-box {
        border-radius: 2vw;
        border: 1px solid rgb(78, 107, 176);
        height: 6.5dvh;
    }
    
    
    .image-bottom-block-box img {
        height: 6.5dvh;
    }
    
    .image-bottom-block-box:hover {
        border: 1px solid #268391;
        box-shadow: 0 0 6px #268391;
    }
}